<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com._1c.g5.v8.dt.bsl.ui.externalQuickfixProvider">
      <externalQuickfixProvider
            class="ru.capralow.dt.ssl.checks.internal.attachablecommands_v3_1_1.ui.ExecutableExtensionFactory:ru.capralow.dt.ssl.checks.internal.attachablecommands_v3_1_1.ui.quickfix.ObjectFormModuleQuickFix">
      </externalQuickfixProvider>
   </extension>
</plugin>
